 .u-section-1 {
  min-height: 663px;
}

.u-section-1 .u-image-1 {
  min-height: 663px;
  background-image: url("images/image0.jpg");
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 63px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 17px 63px 0 57px;
}

.u-section-1 .u-social-icons-1 {
  height: 95px;
  min-height: 16px;
  width: 647px;
  min-width: 252px;
  margin: 57px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 0;
}

.u-section-1 .u-icon-2 {
  height: 0;
}

.u-section-1 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-1 .u-icon-4 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}